$wait: #558B2F;
$work: #C62828;
$edu: #1565C0;
$train: #FF8F00;
$dish: #424242;
$food: #616161;
$vaca: #757575;
$rest: #263238;
$hosp: #37474F;
$etc: #455A64;

.work{
    background: $work;
}

.edu{
    background: $edu;
}

.train{
    background: $train;
}

.wait{
    background: $wait;
}

.dish{
    background: $dish;
}

.food {
    background: $food;
}

.vaca {
    background: $vaca;
}

.rest {
    background: $rest;
}

.hosp {
    background: $hosp;
}

.etc{
    background: $etc;
}